@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.acu-popup {
		@apply rounded-xl shadow-lg border border-gray-100;
	}
	.acu-title {
		@apply text-blue-900 font-bold;
	}
	.acu-btn-confirm {
		@apply bg-orange-500 hover:bg-orange-600 text-white px-4 py-2 rounded-lg font-medium;
	}
	.acu-btn-cancel {
		@apply bg-blue-100 hover:bg-blue-200 text-blue-900 px-4 py-2 rounded-lg font-medium;
	}
}
